body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}
h1{
    text-align: center;
}
.topNav{
    width: 100%;
    overflow: auto;
    background-color: blanchedalmond;
}
.topNav a{
    display: inline-block;
    font-size: 17px;
    color: black;
    padding: 12px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
h2{
    text-align: center;
}
.hydroponics{
    text-align: center;
}
.topNav a:hover{
    background-color: aquamarine;
}




